<footer class="footer">
  <div class="footer-container container">
    <div class="footer-logo-wrap">
      <a href="/src/index.html" class="footer-logo-link">
        <svg class="footer-logo-icon" width="127px" height="20">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="tel:+380665438912" class="footer-tel">UK: +38 066 543 8912</a>
      <p class="footer-address">Ukraine, Kyiv</p>
    </div>
    <div class="footer-soc-wrapper">
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="footer-soc-link"
            >Instagram</a
          >
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="footer-soc-link"
            >Facebook</a
          >
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="footer-soc-link"
            >Youtube</a
          >
        </li>
      </ul>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">About us</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Our courses</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Our mentors</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-input-wrap">
      <input
        type="text"
        name="email"
        class="footer-input"
        placeholder="Enter your email"
      />
      <button type="submit" class="footer-input-btn">Go</button>
    </div>
    <div class="footer-text-wrap">
      <p class="footer-text-one ftw">
        Privacy Policy<br />Public Offering Agreement
      </p>
      <p class="footer-text-two ftw">
        2023 Focus Frame<br />© All rights reserved
      </p>
    </div>
  </div>
</footer>
