<header class="header">
  <div class="container">
    <div class="header-container">
      <nav class="header-navigation">
        <a href="./index.html">
          <img
            class="header-logo"
            srcset="../img/header/tablogo.jpg, ./header/logo.jpg"
            src="../img/header/moblogo.jpg"
            alt="logo"
            width="123"
            height="16"
          />
        </a>
    <button class="btn-camera" type="button">
      <svg class="link-signup-foto" height="16" width="16">
        <use href="./img/icons.svg#icon-camera"></use>
      </svg>
    </button>
    <button type="button" class="unlock-menu" id="burger">
      <svg class="road-mob" width="32" height="22">
        <use href="./img/icons.svg#icon-menu-mob"></use>
      </svg>
    </button>
  </div>
  <div class="menu-mob is-open">
    <button type="button" class="menu-close-btn">
      <svg class="menu-icon-btn" width="32" height="32">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="menu-mob-catalogue">
      <li class="menu-mob-list">
        <a href="#" class="menu-mob-link about-mob">About us</a>
      </li>
      <li class="menu-mob-list">
        <a href="#" class="menu-mob-link">Our courses</a>
      </li>
      <li class="menu-mob-list">
        <a href="#" class="menu-mob-link">Our mentors</a>
      </li>
      <li class="menu-mob-list">
        <a href="#" class="menu-mob-link">Reviews</a>
      </li>
      <li class="menu-mob-list">
        <a href="#" class="menu-mob-link">Contacts</a>
      </li>
    </ul>

    <img
      srcset="./img/header/Rectanglemobile.jpg"
      src="./img/header/Rectangletablet.jpg"
      alt="photo-camera"
      width="218"
      height="329"
      class="mob-img"
    />
  </div>
</header>
