<section class="section-mentors">
  <div class="container-mentors">
    <h2 class="section-mentors-caption">
      Our<span class="color-mentors-caption"> Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          class="images-mentors"
          src="../img/our mentors/emilia.jpg"
          alt="emilia"
        />
        <div class="decription-mentors">
          <h3 class="mentors-caption">Emilia Smith</h3>
          <p class="mentors-paragraph">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          class="images-mentors"
          src="../img/our mentors/alex.jpg"
          alt="alex"
        />
        <div class="decription-mentors">
          <h3 class="mentors-caption">Alex Lebedev</h3>
          <p class="mentors-paragraph">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          class="images-mentors"
          src="../img/our mentors/mia.jpg"
          alt="mia"
        />
        <div class="decription-mentors">
          <h3 class="mentors-caption">Mia Dubrovska</h3>
          <p class="mentors-paragraph">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          class="images-mentors"
          src="../img/our mentors/eliot.jpg"
          alt="eliot"
        />
        <div class="decription-mentors">
          <h3 class="mentors-caption">Eliot Kovalev</h3>
          <p class="mentors-paragraph">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
