<section class="our-courses">
  <div class="container">
    <div class="our-courses-info">
      <h2 class="our-courses-title">Our <span class="courses-title-colour">Courses</span></h2>
      <p class="our-courses-desc">At our photography school, we offer a variety of courses that cover all aspects
        of
        this fascinating art. Regardless of
        your experience or skill level, we have courses to suit your needs and goals.</p>
    </div>

    <ol class="our-courses-list">
      <li class="our-courses-item">
        <a class="our-courses-link" href="#sign-up" rel="noopener noreferrer">
          <svg class="courses-top-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-arrow-up"></use>
          </svg>
        </a>

        <h3 class="our-courses-subtitle">Basics of photography</h3>
        <p class="our-courses-text">During this course, you will be able to familiarize yourself with
          different types
          of cameras, learn the basics of
          composition.</p>

      </li>

      <li class="our-courses-item">
        <a class="our-courses-link" href="#sign-up" rel="noopener noreferrer">
          <svg class="courses-top-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-arrow-up"></use>
          </svg>
        </a>
        <div class="our-courses-wrap">
          <h3 class="our-courses-subtitle">Landscape photography</h3>
          <p class="our-courses-text">In this course, you'll learn how to choose the right angles, frame
            landscapes, and
            create depth and perspective in your
            images.</p>
        </div>
      </li>

      <li class="our-courses-item">
        <a class="our-courses-link" href="#sign-up" rel="noopener noreferrer">
          <svg class="courses-top-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-arrow-up"></use>
          </svg>
        </a>
        <div class="our-courses-wrap">
          <h3 class="our-courses-subtitle">Portrait photography</h3>
          <p class="our-courses-text">During this course, you will learn to choose the right lighting,
            reproduce the
            mood and expressions on the faces of the
            models.</p>
        </div>
      </li>
    </ol>
  </div>
</section>
