<section id="reviews" class="conteiner">
  <h3 class="title-reviews">Reviews</h3>
  <div class="wrap-reviews-item">
    <ul class="reviews-item">
      <li class="reviews-list">
        <div class="reviews-wrap">
          <div class="wrap-img">
            <img
              class="img-reviews"
              srcset="
                ./img/img-reviews/user-baker.jpg    1x,
                ./img/img-reviews/user-baker-2x.jpg 2x
              "
              src="./img/img-reviews/user-baker.jpg"
              alt="Abraham Baker"
              width="56"
              height="56"
            />
            <div class="wrap-img-descr">
              <p class="name-client">Abraham Baker</p>
              <p class="client-status">Student</p>
            </div>
          </div>
          <div class="rating">
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star empty" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </div>
          <p class="reviews-descr">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
      </li>
      <li class="reviews-list reviews-list-two">
        <div class="reviews-wrap">
          <div class="wrap-img">
            <img
              class="img-reviews"
              srcset="
                ./img/img-reviews/user-lowery.jpg    1x,
                ./img/img-reviews/user-lowery-2x.jpg 2x
              "
              src="./img/img-reviews/user-lowery.jpg"
              alt="Amanda Lowery"
              width="56"
              height="56"
            />
            <div class="wrap-img-descr">
              <p class="name-client">Amanda Lowery</p>
              <p class="client-status">Student</p>
            </div>
          </div>
          <div class="rating">
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="star empty" height="16" width="16">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </div>
          <p class="reviews-descr">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
