<section class="sign-up">
    <div class="container sign-up-wrapper">

        <div class="sign-up-wrapper-one">
        <h2 class="sign-up-title">Sign<span class="sign-up-title-up">Up</span></h2>
        <p class="sign-up-text-top">Please use the form below to contact us. Enter your name, email,  and message and we'll get back to you shortly. </p>
        <form class="sign-up-form" action=""  >

            <div class="sign-up-form-list">
            
            <input class="sign-up-input" type="text" id="user-name" name="user-name" required pattern="" placeholder="Enter your name">
            
            </div>
            
            <div class="sign-up-form-list">
            
            <input class="sign-up-input" type="email" id="email" name="email" required placeholder="Enter your email">
            
            </div>
            
            <div class="sign-up-form-list">
            
            <textarea class="sign-up-textarea" id="user-message" name="user-message" rows="" cols="" placeholder="Message"></textarea>
            
            </div>

            <button class="sign-up-button" type="submit">Send</button>

        </form>
        <p class="sign-up-text-bottom">By clicking on “Send” button, you agree to our <a href="" class="sign-up-privacy-policy">Privacy Policy,</a><br> 
            and allow Promodo to use this information for marketing purposes.</p>
        
        </div>

        <div class="sign-up-wrapper-two">

        <div class="sign-up-box-one">
            <div class="sign-up-box-lens">
                <picture>
                    <source
                        srcset="../img/sing-up/isabella1x-min.png 1x,
                        ../img/sing-up/isabella2x-min.png 2x
                        "
                        media="(min-width:1280px)"
                    />
                    
                </picture>
                <img
                class="sign-up-img-lens"
                src="../img/sing-up/isabella1x-min.png 1x"
                alt="img-lens"
                width="150"
                height="142"
            />
        </div>

        </div>
        
        <div class="sign-up-box-two">
            <div class="sign-up-box-camera">
                <picture>
                    <source
                        srcset="./img/sing-up/video-1x-min.png 1x ,
                        ./img/sing-up/video2x-min.png 2x
                        "
                        media="(min-width:1280px)"
                    />
                    
                </picture>
                <img
                class="sign-up-img-camera"
                src="../img/sing-up/video-1x-min.png 1x"
                alt="camera"
                width="240"
                height="296"
            />
            </div>
        </div>