<section class="container sign-up" id="sign-up">
  <div class="sign-up-input-box">
    <h1 class="sign-up-title">Sign <span class="sign-span">Up</span></h1>
    <p class="sign-up-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <input type="text" 
    placeholder="Enter your name" 
    name="user-name"  
    class="sign-up-input-name" />
    <input type="email" 
    placeholder="Enter your email" 
    name="user-email" 
    class="sign-up-input-email"
    id="user-email"
    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" 
    required/>
    <textarea name="message" 
    placeholder="Message" 
    class="sign-up-textarea" 
    id="message-sign"
    required
    ></textarea>
    <button type="submit" class="sign-up-button">Send</button>
    <p class="sign-up-submit">
      By clicking on “Send” button, you agree to our
      <a href="" class="privacy">Privacy Policy</a>,<br />and allow Promodo to
      use this information for marketing purposes.
    </p>
  </div>
  <div class="photo-wrap">
    <div class="photo-wrap-one">
      <img srcset="
          ../img/sign-up/camera-1-tab.png    1x,
          ../img/sign-up/camera-1-tab-2x.png 2x
        " src="../img/sign-up/camera-1-tab.png" alt="camera" class="photo-one" />
    </div>
    <div class="photo-wrap-two">
      <img srcset="
          ../img/sign-up/camera-2-tab.png    1x,
          ../img/sign-up/camera-2-tab-2x.png 2x
        " src="../img/sign-up/camera-2-tab.png" alt="camera" class="photo-two" />
    </div>
  </div>
</section>