.about-section {
  padding-bottom: 40px;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
}

.about-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
.about-span {
  color: #bea69e;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

.about-picture {
  margin-bottom: 40px;
}

.about-text-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-bottom: 100px;
  }

  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .about-title {
    font-size: 48px;
    line-height: 1.13;
    letter-spacing: -0.04em;
  }
  .about-span {
    font-size: 48px;
    line-height: 1.13;
    letter-spacing: -0.04em;
  }

  .about-picture {
    margin-bottom: 50px;
  }

  .about-text-flex {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    padding-bottom: 150px;
  }

  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-picture {
    margin-bottom: 0;
  }

  .about-text {
    width: 268px;
  }

  .about-text-flex {
    gap: 20px;
  }

  .about-flex {
    display: flex;
    justify-content: space-between;
  }
}
