/* .header {
  max-width: 375px;
  padding-top: 20px;
  margin: 0 auto;
}
.header {
  padding-top: 20px;
} */

.header {
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  min-width: 320px;
}

.header-logo {
  width: 127px;
  height: 20px;
}

.header-wrap {
  width: 100%;
  /* max-width: 335px; */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  flex-grow: 1;
  padding: 15px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.header-menu {
  display: none;
}
.header-link-signup {
  display: none;
  
}


.link-camera {
padding: 6px 8px 2px 8px;
background-color: #1D1D1D;
border-radius: 50%;
}

.header-mob-wrap {
  display: flex;
  gap: 14px;
  align-items: center;
}

.signup-anchor {
  fill: rgba(190, 166, 158, 0.4);
}
.signup-anchor:hover {
  fill: #bea69e;
}
.btn-camera {
  padding: 8px 8px;
  margin-left: 90px;
  margin-right: 14px;
  border-radius: 50%;
  display: flex;
  background-color: #1d1d1d;
  border: none;
}
.unlock-menu {
  background-color: #121212;
  display: flex;
  border: none;
}

/****menu-mobile****/

.header-menu-mob {
  width: 218px;
  height: 100%;
  /* padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px; */
  position: fixed;
  top: 0;
  right: 0;
  background: #bea69e;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  overflow: auto;
}

.menu-mob-top {
  padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;

}


.menu-mob-link {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-mob-link:hover {
  font-weight: 700;
}
.menu-close-btn {
  border: none;
  background-color: #bea69e;
  display: flex;
  margin-bottom: 128px;
  margin-left: auto;
}
.menu-icon-btn {
  stroke: #121212;
}
.menu-mob-catalogue {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}
.menu-mob-list {
  list-style-type: none;
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.menu-mob-img {
  /* width: 218px;
  height: auto; */
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.40);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/****tablet****/

@media screen and (min-width: 768px) {
/* 
  .container {
    max-width: 768px;
    margin: 0;
  } */
  .header {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-wrap {
    padding-bottom: 40px;
    /* max-width: 704px; */
    display: flex;
    gap: 14px;
    justify-content: space-between;
  }

  .header-container {
    width: 100%;
    padding: 9px 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }


  .header-logo {
        width: 123px;
        height: 16px;
    /* margin-right: 301px; */
  }

  .header-link-signup {
    /* width: 186px; */
    height: 60px;
    flex-shrink: 0;
    padding: 16px 58px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    color: #121212;
  }

  .header-link-signup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
  
  .link-camera {
    display: none;
  }
  .header-menu-mob {
    width: 480px;
    /* padding-top: 20px;
    padding-right: 32px;
    padding-left: 64px; */
  }

    .menu-mob-top {
      padding-top: 20px;
      padding-right: 32px;
      padding-left: 64px;
  
    }

  .menu-close-btn {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-bottom: 172px;
  }
  .menu-mob-catalogue {
    gap: 28px;
  }
  .menu-mob-img {
    max-width: 100%;
  }

  .road-mob {
    width: 40px;
    height: 28px;
  }
}

/****desktop****/

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-wrap {
    max-width: 1080px;
    gap: 20px;
    padding-bottom: 80px;
  }

  .header-container {
    width: 100%;
    padding: 0 50px;
  }

  .header-logo {
    width: 123px;
    height: 16px;
    flex-shrink: 0;
  }

  .header-menu {
    display: flex;
    gap: 28px;
  }

  .header-menu-link {
    padding: 21px 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal;
    text-decoration: none;
  }

  .header-about:hover {
    font-weight: 700;
    color: #bea69e;
  }

  .header-link-signup {
    /* width: 238px; */
    height: 60px;
    flex-shrink: 0;
    padding: 16px 84px;
  }

  .header-link-signup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }

  .btn-camera {
    display: none;
  }

  .unlock-menu {
    display: none;
  }

  .header-menu-mob {
    display: none;
  }

  .header-mob-wrap {
      display: none;
    }
}
