img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

.container-mentors {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-mentors {
  background-color: #121212;
  padding-bottom: 80px;
}

.section-mentors-caption {
  color: #ffff;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  font-family: DM sans;
}

.mentors-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.mentors-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
}

.color-mentors-caption {
  color: #bea69e;
}

.images-mentors {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-bottom: 40px;
  border: none;
}

.mentors-caption {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 4px;
}

.mentors-paragraph {
  color: #ffffff80;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: center;
}

@media (min-width: 375px) {
  .container-mentors {
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-mentors {
    background-color: #121212;
    padding-bottom: 80px;
  }

  .section-mentors-caption {
    color: #ffff;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.04em;
    font-family: DM sans;
  }

  .mentors-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mentors-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 185px;
  }

  .color-mentors-caption {
    color: #bea69e;
  }

  .images-mentors {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
  }

  .mentors-caption {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 4px;
  }

  .mentors-paragraph {
    color: #ffffff80;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
  }
}

@media (min-width: 768px) {
  .container-mentors {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-mentors {
    background-color: #121212;
    padding-bottom: 100px;
  }

  .section-mentors-caption {
    color: #ffff;
    margin-bottom: 50px;
    letter-spacing: -0.04em;
    font-family: DM sans;
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
  }

  .mentors-list {
    display: flex;
    gap: 93px 100px;
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: center;
  }

  .mentors-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 194px;
  }

  .color-mentors-caption {
    color: #bea69e;
  }

  .images-mentors {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
  }

  .mentors-caption {
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  .mentors-paragraph {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
  }
}

@media (min-width: 1280px) {
  .container-mentors {
    max-width: 1080px;
    margin: 0 auto;
  }

  .section-mentors {
    background-color: #121212;
    padding-bottom: 100px;
  }

  .section-mentors-caption {
    color: #ffff;
    margin-bottom: 50px;
    letter-spacing: -0.04em;
    font-family: DM sans;
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
  }

  .mentors-list {
    display: flex;
    gap: 0px 100px;
    flex-wrap: nowrap;
    flex-direction: unset;
    justify-content: center;
  }

  .mentors-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
  }

  .color-mentors-caption {
    color: #bea69e;
  }

  .images-mentors {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
  }

  .mentors-caption {
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  .mentors-paragraph {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
  }
}
