.our-courses {
padding-bottom: 80px;
background-color: #121212;
}

.our-courses-container {
max-width: 375px;
margin-left: auto;
margin-right: auto;
}

.our-courses-info {
margin-bottom: 40px;
padding-left: 20px;
padding-right: 20px;
}

.our-courses-title {
color: #FFF;
font-size: 28px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.04em;
margin-bottom: 20px;
}

.courses-title-colour{
color: #BEA69E;
}

.our-courses-desc {
color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;
}

.our-courses-list {
display: flex;
flex-direction: column;
gap: 20px;
list-style-position: inside;
padding-left: 0;
margin-top: 0;
}

.our-courses-list .our-courses-item::marker {
content: "0"counter(list-item);
color: rgba(255, 255, 255, 0.40);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;
}

.our-courses-item {
max-width: 335px;
max-height: 398px;
padding: 28px;
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
position: relative;
}

.courses-top-number {
color: rgba(255, 255, 255, 0.40);
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;
}

.our-courses-link {
width: 32px;
height: 32px;
border-radius: 50%;
background-color: #1D1D1D;
position: absolute;
top: 28px;
right: 28px;
display: flex;
align-items: center;
justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-courses-link:hover {
background-color: #BEA69E;
opacity: 100%;
}

.our-courses-link:focus {
background-color: #BEA69E;
opacity: 100%;
}
.courses-top-icon {
fill: rgba(255, 255, 255, 0.40);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.courses-top-icon:hover {
fill: #FFFFFF;
}

.courses-top-icon:focus {
fill: #FFFFFF;
}

.our-courses-subtitle {
color: #FFF;
font-size: 28px;
font-weight: 500;
line-height: 1.14;
margin-top: 28px;
}

.our-courses-text {
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;
margin-top: 164px;
}


/* ==================== MOBILE ===================== */
@media screen and (min-width: 375px) {
    
}


/* ==================== TABLET ===================== */
@media screen and (min-width: 768px) {
.our-courses-container {
max-width: 768px;
} 

.our-courses {
padding-bottom: 100px;
padding-left: 32px;
padding-right: 32px;
}

.our-courses-item {
min-width: 342px;
min-height: 452px;
padding: 32px;
}

.our-courses-title {
font-size: 48px;
line-height: 1.13;
letter-spacing: -0.04em;
}

.our-courses-info {
display: flex;
align-items: flex-start;
gap: 58px;
margin-bottom: 50px;
}

.our-courses-desc {
width: 381px;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
}

.our-courses-list {
flex-wrap: wrap;
flex-direction: row;
gap: 20px;
}

.our-courses-subtitle {
margin-top: 32px;
max-width: 255px;
}

.our-courses-text {
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
}

}

/* ==================== DESKTOP ===================== */
@media screen and (min-width: 1280px) {
.our-courses-container {
max-width: 1280px;
}

.our-courses {
padding-bottom: 150px;
padding-left: 100px;
padding-right: 100px;
}

.our-courses-item {
min-width: 347px;
min-height: 452px;
padding: 32px;
}

.our-courses-info {
display: flex;
justify-content: space-between;
margin-bottom: 50px;
}

.our-courses-title {
font-size: 48px;
line-height: 1.13;
letter-spacing: -0.04em;
}

.our-courses-desc {
width: 405px;
font-size: 16px;
font-weight: 400;
line-height: 1.25;
letter-spacing: -0.02em;
}

.our-courses-list {
flex-wrap: nowrap;
}

.our-courses-subtitle {
max-width: 255px;
margin-top: 32px;
}

.our-courses-text {
margin-top: 180px;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
}

}