
.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .sign-up{
    
    background-color: black;   
    }
    
    .sign-up-wrapper-one {
    
    /* width: 335px; */
    
    
    }
    .sign-up-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.07em;
    margin-bottom: 20px;
    
    }
    .sign-up-title-up {
    color: #BEA69E;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.07em;
    padding: 7px;
    
    }
    .sign-up-text-top {
    /* width: 295px; */
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.0175em;
    margin-bottom: 41px;
    
    }
    .sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
      }
    
    
    
    /* }
    .sign-up-form-list {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    } */
    
    .sign-up-label {
    
    
    }
    .sign-up-input {
    width: 100%;
    background-color: black;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    height: 46px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28px; 
    }
    
    
    
    .sign-up-textarea {
    width: 100%;
    height: 112px;
    background-color: black;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding-left: 14px;
    }
    
    
    .sign-up-button {
    display: flex;
    /* width: 335px; */
    padding: 14px 127px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    border-radius: 12px;
    background: var(--white, #FFF);
    color: var(--black, #121212);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    }
    
    .sign-up-text-bottom {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    margin-top: 20px;
    
    }
    .sign-up-privacy-policy {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration-line: underline;
    }
    
    .sign-up-wrapper-two{
      display: none;
    
    }
    
    
    
    /* ================================Media-768====================================== */
    
    @media screen and (min-width: 768px) {
      .container {
        max-width: 768px;
        margin-left: 32px;
    
      }
    
      .sign-up-wrapper-two{
        display: none;
    
      }
    
    
    .sign-up-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12; 
    letter-spacing: -1.92px;
    
      
    }
    
    
    .sign-up-title-up {
    color: #BEA69E;
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
    
    }
    
    .sign-up-text-top {
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25; 
      letter-spacing: -0.32px;
      width: 462px;
    }
    
    .sign-up-form{
      gap: 14px;
    
    }
    
    .sign-up-input{
    width: 480px;
    height: 60px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 20px;
    
    }
    
    .sign-up-textarea{
    width: 480px;
    height: 119px;
    padding-left: 18px;
    
    }
    
    .sign-up-button {
      width: 479px;
      height: 60px; 
      display: inline-flex;
      padding: 16px 216px;
      justify-content: center;
      align-items: center;
      color: var(--black, #121212);
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      text-transform: uppercase;
    
    }
    
    .sign-up-text-bottom{
    font-size: 14px;
    line-height: 1.28; 
    
    }
    
    .sign-up-privacy-policy{
      font-size: 14px;
      line-height: 18px;
    
    }
    
    }
    
    /* ================================Media-1280====================================== */
    
    @media screen and (min-width: 1280px) {
      .container {
        max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
      }
    
      .sign-up-wrapper{
      display: flex;
    
      }
    
    
    .sign-up-wrapper-one {
    
        width: 480px;
        height: 578px;
        margin-right: 60px;
        
        
        }
    
    
    .sign-up-wrapper-two {
    width: 540px;
    height: 540px;
    display: flex;
    align-items: flex-end;
    }
    
    
    .sign-up-box-one {
    background-color: black;
    margin-right: 20px;
    
    
    }
    .sign-up-box-lens {
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background: #BEA69E;
    
    }
    .sign-up-img-lens {
    /* padding-left: 19px;
      padding-bottom: 76px; */
    
    
    
    }
    .sign-up-box-two {
    }
    
    
    .sign-up-box-camera {
    width: 340px;
    height: 540px;
    border-radius: 1000px;
    background: #1D1D1D;
    padding-left: 50px;
    padding-top: 156px;
    
    
    }
    .sign-up-img-camera {
    }
    
    }