.container {
  max-width: 375px;
}
.sign-up {
}
.sign-up-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.sign-span {
  color: #bea69e;
}
.sign-up-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 41px;
}
.sign-up-input-box {
  width: 337px;
}
.sign-up-input-name {
  color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  margin-bottom: 8px;
  padding-left: 18px;
}
.sign-up-input-email {
  color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  margin-bottom: 8px;
  padding-left: 18px;
}

.sign-up-input-email:focus:valid:not(:placeholder-shown) {
  border-color: rgba(252, 249, 249, 0.6);
}
.sign-up-input-email:invalid:not(:placeholder-shown) {
  border-color: tomato;
}
.sign-up-textarea {
  color: #fff;
  width: 100%;
  height: 112px;
  resize: none;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  margin-bottom: 40px;
  padding-left: 18px;
  padding-top: 14px;
}
.sign-up-button {
  border-radius: 12px;
  background: #fff;
  width: 335px;
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 20px;
}
.sign-up-button:hover,
.sign-up-button:focus {
  background-color: #1d1d1d;
  color: #bea69e;
}
.sign-up-submit {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  width: 100%;
}
.privacy {
  text-decoration: underline;
}
.photo-wrap {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 0 100px 32px;
  }
  .sign-up-input-box {
    width: 480px;
  }
  .sign-up-title {
    font-size: 48px;
  }
  .sign-up-text {
    font-size: 16px;
  }
  .sign-up-input-name {
    height: 60px;
    margin-bottom: 14px;
  }
  .sign-up-input-email {
    height: 60px;
    margin-bottom: 14px;
  }
  .sign-up-textarea {
    height: 119px;
  }
  .sign-up-button {
    width: 479px;
  }
  .sign-up-submit {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0px 100px 150px 100px;
  }
  .sign-up {
    display: flex;
    flex-direction: row;
  }
  .photo-wrap {
    display: block;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
  }
  .photo-wrap-one {
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background: #bea69e;
    margin-top: 252px;
    position: relative;
    margin-right: 20px;
  }
  .photo-one {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 35%;
  }
  .photo-wrap-two {
    width: 340px;
    height: 540px;
    border-radius: 1000px;
    background: #1d1d1d;
    position: relative;
  }
  .photo-two {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
  }
}
